@font-face {
    font-family: IRANYekan;

    src: url('../fonts/IRANYekanXFaNum-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: IRANYekan;
    src: url('../fonts/IRANYekanXFaNum-UltraLight.ttf') ;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: IRANYekan;
    src:
        url('../fonts/IRANYekanXFaNum-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: IRANYekan;

    src:
        url('../fonts/IRANYekanXFaNum-Medium.ttf');

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: IRANYekan;

    src:
        url('../fonts/IRANYekanXFaNum-DemiBold.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: IRANYekan;

    src:
        url('../fonts/IRANYekanXFaNum-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: IRANYekan;

    src:
        url('../fonts/IRANYekanXFaNum-ExtraBold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: IRANYekan;

    src:
        url('../fonts/IRANYekanXFaNum-Black.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: IRANYekan;

    src:
        url('../fonts/IRANYekanXFaNum-ExtraBlack.ttf');
    font-weight: 1000;
    font-style: normal;
}
@font-face {
    font-family: IRANYekan;

    src:
        url('../fonts/IRANYekanXFaNum-Heavy.ttf');
    font-weight: 1100;
    font-style: normal;
}

