// ----------------------------------------------------- //
// Fonts
// ---------------------------------------------------- //

@font-face {
    font-family: IRANSans;

    src: url('../fonts/IRANSansXV.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: IRANSansNum;

    src: url('../fonts/IRANSansXFaNum-Regular.ttf');
    font-weight: 100;
    font-style: normal;
}

