// ----------------------------------------------------- //
// Main styles
// ---------------------------------------------------- //

body {
  font-variation-settings: "wght" 400 !important;
  line-height: 1.5;
  letter-spacing: -0.1px !important;
  font-family: IRANSans !important;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 13px !important;
  direction: rtl;

  @media (min-width: 1024px) {
      display: flex;
      place-items: center;
  }
}

#app {
  width: 100%;
  padding: 0;
}

a {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;

    @media (hover: hover) {
      &:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
      }
    }
}

.h{
    &-100vh { 	
      height: 100vh !important;
    }

    &-93vh {
      height: 93vh !important;
    }
}

.number-font,
.v-pagination__item .v-btn__content,
.stepper__value__box span,
.stepper__value__box--active span,
.v-badge__badge,
.v-select__selection-text,
.v-overlay__content,
span.v-autocomplete__selection-text,
.text-clamp span,
.vpd-day-text,
.vpd-month-label span,
.vpd-date span,
.vpd-year-label span {
  font-family: IRANSansNum !important;
}

h1, h2, h3, h4, h5, h6, p, span {
  letter-spacing: -0.1px !important;
  white-space: normal;
  font-family: IRANSans !important;
}

.b, strong {
  font-weight: unset !important;
}

.example {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.example .v-table__wrapper {
  overflow: hidden !important;
}

.default-file-input {
  opacity: 0;
}

// should rename or remove
.bottom {
  bottom: 30px;
}

.right {
  right: 20px
}

.left {
  left: 20px
}
//-----

.mh-100 {
  min-height: 100vh;
}

.v-card {
  z-index: unset !important;
}

.upload-box {
  width: 100%;
  height: 80px;
  border: 1px dashed var(--gray-200, #E2E8F0);
}

//stretch-card-header
.stretch-card-header-70 {
  flex: 0 0 70px;
}

.stretch-card-header-100 {
  flex: 0 0 100px;
}

//container
.container-400{
  width: 400px !important ;
  @media (max-width: 400px) {
      width: 300px !important;
  }
}

.scan-container{
  max-width: 500px !important;
}

.vh-80{
  height: 80vh !important;
}

