// ----------------------------------------------------- //
// Main styles
// ---------------------------------------------------- //

body {
  font-variation-settings: "wght" 400 !important;
  line-height: 1.5;
  letter-spacing: -0.1px !important;
  font-family: IRANSans !important;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 13px !important;
  direction: rtl;

  @media (min-width: 1024px) {
      display: flex;
      place-items: center;
  }
}

#app {
  width: 100%;
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;

  @media (hover: hover) {
    &:hover {
      background-color: hsla(160, 100%, 37%, 0.2);
    }
  }
}

.example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.example .v-table__wrapper {
  overflow: hidden !important;
}

#row-selector {
  .v-select {
    height: 40px !important;
  }

  .v-field {
    height: 40px !important;
  }

  .v-field__append-inner {
    height: 40px !important;
  }
}

.h-93vh {
  height: 93vh !important;
}

.h-100vh { // should be h-screen	
  height: 100vh !important;
}

.rounded-16 { // should change to br-16
  border-radius: 16px !important;
}

.v-messages__message {
  text-align: right;
  font-size: 10px;
}

.v-navigation-drawer--right {
  border-left-width: 0px !important;
}

.v-list-item-title {
  font-variation-settings: "wght" 300
}

#rowSection .v-field__input {
  padding-top: 0 !important;
}


.default-file-input {
  opacity: 0;
}

.bg-active {
  color: #E91E63 !important;
}


.bottom {
  bottom: 30px;
}

.right {
  right: 20px
}

.left {
  left: 20px
}

.v-application__wrap {
  direction: rtl;
  min-height: 100% !important;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.user-detail-box {
  min-width: 130px;
  height: 30px;
  background-color: #fff;
  border-radius: 100px;
}


.null-data-table {
  position: absolute;
  top: 30%;
  right: 43%;
}


.br {
  &__8 {
    border-radius: 8px;
  }
  &__4 {
    border-radius: 4px;
  }
  &__12 {
    border-radius: 12px !important;
  }
}

.create-sku-step2 .v-input.v-textarea {
  min-height: auto !important;
  height: auto !important;
}

/* scroller*/

.scroller {
  overflow-y: auto !important;
  overflow-x: hidden !important;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #F8BBD0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #F06292;
  }
}
.navbar{
  width: 390px;
  &__scroller {
    overflow-y: auto !important;
    overflow-x: auto !important;

    &::-webkit-scrollbar {
      width: 1px;
      height: 0;
    }

    &::-webkit-scrollbar-track {
      border-radius: 1px;
      background-color: #F8BBD0;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1px;
      background-color: #F06292;
    }
  }
}
.mh-100 {
  min-height: 100vh;
}

/*v-card*/
.v-card {
  z-index: unset !important;
}

#filterForm .v-field {
  &__field {
    height: 45px;
  }

  &__input {
    min-height: 45px;
    padding-top: unset;
    padding-bottom: unset
  }
}

.notification {
  &__seen-active {
    width: 200px;
    background-color: rgba(127, 126, 128, 0.133);
    border-radius: 30px !important;
    cursor: pointer;
  }

  &__seen {
    width: 200px;
    /* background-color: rgba(127, 126, 128, 0.133); */
    border-radius: 7px;
    cursor: pointer;
  }
}

.pointer {
  cursor: pointer !important;
}

.fill-height {
  height: calc(100% - 85px) !important;
}

.vh-100 {
  height: 100vh
}

.upload-box {
  width: 100%;
  height: 80px;
  border: 1px dashed var(--gray-200, #E2E8F0);
}


//stretch-card-header
.stretch-card-header-70 {
  flex: 0 0 70px;
}

.stretch-card-header-100 {
  flex: 0 0 100px;
}

.chat__user-box {
  background: #fff;
  height: 100% !important;
  width: 250px;
  position: absolute;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.v-selection-control__wrapper {
  &.text-success {
    .v-switch__track {
      opacity: 1 !important;
    }

    .v-switch__thumb.text-success {
      background-color: white;
    }
  }
}

.seller__add-sku-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #FCE4EC;
}
.check__barcode-box {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.seller__add-sku-btn:hover {
  cursor: pointer;
}

.number-font,
.v-pagination__item .v-btn__content,
.stepper__value__box span,
.stepper__value__box--active span,
.v-badge__badge,
.v-select__selection-text,
.v-overlay__content,
span.v-autocomplete__selection-text,
.text-clamp span,
.vpd-day-text,
.vpd-month-label span,
.vpd-date span,
.vpd-year-label span {
  font-family: IRANSansNum !important;
}

.slider_status{
  padding: 7px 12px 7px 8px;
  border-radius: 8px;
  height: 30px;
  &__waiting{
    background: #FFF3E0;
  }
  &__progress{
    background: #E8F5E9;
  }
  &__expire{
    background: #FFEBEE;
  }
}
.retailShipment--work-days-card{
  &__active{
    background: #EEE !important;
    border: unset;
    span{
      color: black;
    }
  }
  &__disable{
    background: #FAFAFA !important;
    border: unset;
    span{
      color: #E0E0E0;
    }
  }
  &__free{

    background: #ffff !important;
    border: 1px solid #E0E0E0 !important;
    span{
      color: black;
    }
  }
  &__free:hover{
        background: #ffff !important;
       border: 1px solid #110833 !important;
     }
}

.retail-status-box{
  height: 32px;
  width: 148px;
  border-radius: 8px;
  background: #F5F5F5;
}
.expanded-background {
  display: flex;
  justify-content: space-between;
  align-items: center!important;
  border-radius: 8px;
  height: 32px;
  padding: 8px;
  width: 100%;
  align-content: center;
}
.v-text-field__prefix{
  opacity: 1 !important;

}

.qr-code-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  max-height: 400px; 
  overflow-y: auto;
  direction: rtl
}

.qr-code-item {
  flex-basis: calc(20% - 20px); 
  margin: 10px; 
  
}
.table-scroll-container {
  max-height: 500px; 
  overflow-y: auto; 
}

.scan-success{
  background: #43A047 !important;
}


.scan-error{
  background: #EF5350 !important;
}

.center-divider {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.main-body-modal {
  padding: 30px;
   width: 550px;
   border-style: solid; 
 border-width: 2px; 
 border-color: #000000; 
  
}

.border-nested-modal{
   padding: 20px;
   border-style: solid; 
   border-width: 1px;
   border-radius: 10px;
   border-color: #e9dcdcb6;
  width: 277px;
  height: 199px;
}

.loading_modal{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #0000004a;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seller__check-sku-btn- {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #FCE4EC;
}

.red-background {
  background-color: var(--Red-95, #FFEBEE);
}

// Main

h1, h2, h3, h4, h5, h6, p, span {
  letter-spacing: -0.1px !important;
  white-space: normal;
  font-family: IRANSans !important;
}

.b, strong {
  font-weight: unset !important;
}