// ----------------------------------------------------- //
// Modal table filter Components
// ---------------------------------------------------- //

.c-modal-table-filter {
    &__date-picker {
        border-radius: 5px !important;
        overflow: hidden !important;

        input {
            height: 42px !important;
            border-top-left-radius: 5px !important;
            border-bottom-left-radius: 5px !important;
        }

        .vpd-icon-btn{
            background-color: rgb(var(--v-theme-primary500)) !important;
        }
    }
}

.vpd-header{
    background-color: rgb(var(--v-theme-primary500)) !important;
}