// ----------------------------------------------------- //
// Helper classes
// ---------------------------------------------------- //


// Direction 
//------------------------------------------------
.d {
    &--ltr {
      direction: ltr !important;
    }
  
    &--rtl {
      direction: rtl !important;
    }
}


// Border-radius 
//------------------------------------------------

.br{
    &--12{
        border-radius: 12px;
    }

    &--4 {
        border-radius: 4px !important;
    }

    &--16 {
        border-radius: 16px;
    }
}

// Position
// ------------------------------------------------

.position { // change name to pos
    &__absolute {
      position: absolute !important;
    }
  
    &__fixed {
      position: fixed !important;
    }
  
    &__relative {
      position: relative;
    }
  
    &__top-left {
      top: 0;
      left: 0;
    }
  
    &__bottom-left {
      bottom: 41px;
      right: 30%;
    }
  }

// Scroll
// ------------------------------------------------

.scroller {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  
    &::-webkit-scrollbar {
      width: 5px;
    }
  
    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: #F8BBD0;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #F06292;
    }
  }

//-----------------------------------------------------------------
// Cursor
//-----------------------------------------------------------------

.pointer {
    cursor: pointer !important;
  }
